            html {
                background-color: #00b1ff;
                color: #ffffff;
                font-family: "Roboto";
            }

            h1 {
                text-align: center;
                
            }

            h2 {
                text-align: left;
                font-size: 40px;
                
            }

            h3 {
                text-align: left;
                font-size: 25px;
                
                
            }

            #navigation{
                margin: 0;
                padding: 0;
                border: 0;
                width: 20%;
                float: left;
            } 

            #text {
                margin: 0;
                padding: 0;
                border: 0;
                width: 60%;
                float: left;
            }

            #text #headlines {
                width: 50%;
                float: left;
            }

            #teamImage {
                width: 50%;
                float: both;
            }
            
            ul {
                list-style: none;
            }

            a {
                font-size: 33px;
                text-decoration: none;
                color: #ffffff                
            }

            a:hover {
                color: #cdcdcd;
            }

            #text p {
                width: 90%;
                font-family: sans-serif;
            }

            footer {
                font-family: sans-serif;
            }
        
            .footerdiv{
                width:100%;
                float:left;
            }


