html {
    background-color: #00b1ff;
    font-family: 'Roboto';
    color: #ffffff;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 40px;
}

h3 {
    text-align: left;
    font-size: 25px;
}

#navigation{
    margin: 0;
    padding: 0;
    border: 0;
    left: 1%;
    width: 20%;
    float: left;
}

#text {
    margin: 0;
    padding: 0;
    border: 0;
    width: 60%;
    float: left;
}

ul {
    list-style: none;
}

a {
    font-size: 33px;
    text-decoration: none;
    color: #ffffff
}

a:hover {
    color: #cdcdcd;
}

p {
    font-family: sans-serif;
}

.footer {
    font-family: sans-serif;
}
.footerdiv{
    width:100%;
    float:left;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.container {
    float: left;
    width:60%;
    height:90%;
    top:30%;
    left:20%;
    border-radius: 2%;
    background-color: lightskyblue;
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}