    html {
        background-color: #00b1ff;
        font-family: 'Roboto';
        color: #ffffff;
    }

    h1 {
        text-align: center;
    }

    #navigation{
        margin: 0;
        padding: 0;
        border: 0;
        width: 60%;
        height:430px;   
        float: left;
    }

    ul {
        list-style: none;
    }

    a {
        font-size: 33px;
        text-decoration: none;
        color: #ffffff;

    }

    a:hover {
        color: #cdcdcd;
    }

    #images {
        margin: 0;
        padding: 0;
        border: 0;
        width: 40%;
        float: right;
        padding-bottom: 2.5%;
        
    }

    img.googleplay {
        padding: 0;
        display: block;
        margin: 4% auto;
        max-width: 13vw;
    }

    img.appstore {
        padding: 0;
        display: block;
        margin: 4% auto;
        max-width: 13vw;
    }

    img.loginimg {
        padding: 0;
        display: block;
        margin: 0;
        left: 0%;
        max-width: 18vw;
    }

    #images #linkImages {
        width: 35%;
        float: left;
    }

    #images #screenshot {
        width: 65%;
        float: left;
    }

    #description {
        float: left;
        margin-left: 0;
        width: 60%;
    }

    .clear {
        clear: both;
    }

    p {
        font-size: 25px;
        margin-left: 5%;
    }


    .footer {
        font-family: sans-serif;
    }
	.footerdiv{
	width:100%;
	float:left;
    }
	
