    html {
        background-color: #00b1ff;
        font-family: 'Roboto';
        color: #ffffff;
    }

    h1 {
        text-align: center;
    }

    #navigation{
        margin: 0;
        padding: 0;
        border: 0;
        width: 60%;
        height:430px;
        float: left;
    }

    ul {
        list-style: none;
    }

    a {
        font-size: 33px;
        text-decoration: none;
        color: #ffffff;

    }

    a:hover {
        color: #cdcdcd;
    }

    #images {
        margin: 0;
        padding: 0;
        border: 0;
        width: 40%;
        float: right;
    }

    #images #linkImages {
        width: 35%;
        float: left;
    }

    #images #screenshot {
        width: 65%;
        float: left;
    }

    #description {
        float: left;
        margin-left: 40px;
    }

    .clear {
        clear: both;
    }

    p {
        font-size: 25px;
    }

    footer {
        font-family: sans-serif;
    }