    html {
        background-color: #00b1ff;
        color: #ffffff;
        font-family: "Roboto";
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: left;
        font-size: 40px;
    }

    h3 {
        text-align: left;
        font-size: 25px;
    }

    #text .screenshot img {
        max-width: 22%;
        float: right;
    }

    #text .screenshot p {
        width: 70%;
        margin-top: 5%;
        float: left;
        font-family: sans-serif;
    }

    #text .screenshot {
        display: flex;
    }

    #images {
        margin: 0;
        padding: 0;
        border: 0;
        width: 60%;
        padding-bottom: 2.5%;
    }

    img.googleplay {
        padding: 0;
        max-width: 13vw;
    }

    img.appstore {
        padding: 0;
        max-width: 13vw;
        margin-left: 2%;
    }
    

    #navigation{
        margin: 0;
        padding: 0;
        border: 0;
        width: 20%;
        float: left;
    } 

    #text {
        margin: 0;
        padding: 0;
        border: 0;
        width: 60%;
        float: left;
    }
    
    ul {
        list-style: none;
    }

    a {
        font-size: 33px;
        text-decoration: none;
        color: #ffffff                
    }

    a:hover {
        color: #cdcdcd;
    }

    footer {
        font-family: sans-serif;
    }
    
    .footerdiv{
	    width:100%;
	    float:left;
	}


